# Ignore python compilation files.
__pycache__
*.pyc
*.swp
/.idea
/src/.idea/*
/src/save_data/logs
/src/save_data/models/model.ckpt
/src/save_data/models/checkpoint
/src/save_data/models/model.ckpt.meta
program

